@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(132, 10, 189);
}

.img-logo {
  width: 120px;
  display: block;
  margin: 0 auto;

}

input {
  width: 80%;
  border: none;
  border-bottom: 1px solid lightgray;
}

label {
  margin: 10px;
}

#btn-calcular {
  border: none;
  color: #fcfafb;
  padding: 12px;
  margin-top: 20px;

}

.resposta {
  border: none;
  height: 4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 14px;
}

.container-main {
  border: solid 1px white;
  width: 90%;
  height: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;

  margin-top: 10rem;
}

.alert {
  font-size: 10px;
  padding: 2px 12px;
  display: none;
}